@using Microsoft.AspNet.Identity
@{
    var allNavigations = new[]
    {
        new { linkText = "Register", actionName = "Register", controlerName = "Account", id = "registerLink" },
        new { linkText = "Log in", actionName = "Login", controlerName = "Account", id = "loginLink" }
    };
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @foreach (var nav in allNavigations)
        {
            string active = ViewBag.Title == nav.linkText ? "class=\"active\"" : string.Empty;
            <li @Html.Raw(active)>@Html.ActionLink(nav.linkText, nav.actionName, nav.controlerName, routeValues: null, htmlAttributes: new { id = nav.id })</li>
        }
    </ul>
}
