@{
    var allNavigations = new[]
    {
        new { linkText = "Console", actionName = "Console", controlerName = "Projects" },
        new { linkText = "AI", actionName = "AI", controlerName = "Projects" },
        new { linkText = "AS3TOCS", actionName = "AS3TOCS", controlerName = "Projects" },
        new { linkText = "Mandelbrot", actionName = "MandelbrotSet", controlerName = "Projects" },
        new { linkText = "Chat", actionName = "Chat", controlerName = "Projects" }
    };
}

<div class="navbar navbar-custom-md2">
    <div class="container">
        <div>
            <ul class="nav navbar-nav">
                @foreach (var nav in allNavigations)
                {
                    //string active = ViewBag.Title == nav.linkText ? "class=\"active\"" : string.Empty;
                    <li>@Html.ActionLink(nav.linkText, nav.actionName, nav.controlerName)</li>
                }
            </ul>
        </div>
    </div>
</div>
