@{
    string[] allProjects = { "Console", "AI" };
}

<div class="navbar navbar-custom-md2 navbar-inverse">
    <div class="container">
        <div>
            <ul class="nav navbar-nav">
                @foreach (string title in allProjects)
                {
                    if (ViewBag.Title == title)
                    {
                        <li class="active">@Html.ActionLink(title, title, "Projects")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(title, title, "Projects")</li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
