<div class="navbar navbar-custom-md2 navbar-inverse">
    <div class="container">
        <div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Console", "Console", "Projects")</li>
            </ul>
        </div>
    </div>
</div>
