@{
    ViewBag.Title = "Chat";
}

@Html.Partial("_ProjectsPartial")

<div class="container">
    <input type="text" id="message" class="console"/>
    <input type="button" id="sendmessage" value="Send" class="console-button"/>
    <input type="hidden" id="displayname" />

    <div class="console console-chat-output">
        <ul id="discussion"></ul>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/chat")   
}