@using my_website.Models

@model ConsoleCommand

@{
    ViewBag.Title = "Console";
}

@Html.Partial("_ProjectsPartial")

<div>
    <section id="console">
        <div id="ajax-update" class="console multiline">***Console project v0.0.1***
@Model.Content
        </div>
        <div>
            @using (Ajax.BeginForm("Console", "Projects", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ajax-update", LoadingElementId = "waitimage" }))
            {
                <input id="console-input" type="text" name="cmd" class="console" autofocus/>
                <input id="execute" type="submit" value="Execute" class="console-button" />
            }
        </div>
    </section>
    <img id="waitimage" src="/Imgs/loading.gif" style="display:none" />
</div>

@if (Model.HasRedirection)
{
    <META HTTP-EQUIV="Refresh" CONTENT="1;URL=@(Url.Action(Model.RedirectToAction, "Projects"))">
}

