@using my_website.Models

@model ConsoleOutput

@{
    ViewBag.Title = "Console";
}

@Html.Partial("_ProjectsPartial")

<div style="position: relative">
    <section id="console">
        <div id="console-output" class="console console-output multiline">@Model.Content</div>
        <div>
            <input id="console-input" type="text" name="cmd" class="console" autofocus />
            <button id="execute" onclick="send(false);" class="console-button" >Execute</button>
        </div>
    </section>
    <!--<img id="loadingimage" style="display:none; position: absolute; top:30%; left:50%; margin-top:-33px; margin-left:-33px;" src="/Imgs/loading.gif" />-->
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/cookies")
    @Scripts.Render("~/bundles/console_ajax")
}