
@{
    ViewBag.Title = "FmvBemup";
}

<h2>FmvBemup</h2>

<style>
    .unity {
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari */
        transform: scale(1, 1);
    }
</style>

<div class="unity">
    <iframe width="660" height="380" src="~/FmvBemup/index.html" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>
