@{
    ViewBag.Title = "MandelbrotSet";
}

@Html.Partial("_ProjectsPartial")

<div class="myentry">
    <h2>This mathemathical beauty is a fingerprint of God</h2>
    <p>Use console input below image to modify view of it. In example: "mb ymin -0.6 ymax -0.5 xmin -0.6 xmax -0.5 k 400".</p>
    <img src="/Imgs/Mandelbrot/sample.gif" />
</div>
<div class="console">
    <img id="mb_img01" src="/Imgs/loading.gif" />
</div>
<div style="position: relative">
    <section id="console">
        <div>
            <input id="console-input" type="text" name="cmd" class="console" autofocus />
            <input id="execute" type="submit" value="Execute" class="console-button" />
        </div>
    </section>
    <img id="loadingimage" style="display:none; position: absolute; top:30%; left:50%; margin-top:-33px; margin-left:-33px;" src="/Imgs/loading.gif" />
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/mandelbrot_ajax")

    <script>
        send(false, "mb width 700 height 700 zoom 1 step 1 k 50 xmin -2 xmax 2 ymin -2 ymax 2");
    </script>
}