@{
    ViewBag.Title = "WebCam";
}

@Html.Partial("_ProjectsPartial")

@if (Request.IsAuthenticated)
{
    <img id="webcam" src="~/Imgs/WebCam/no_signal.jpg" /><span id="device-connected">Devices: <span style="color:#ff0000">No device connected...</span></span>
    <button type="button" class="console-button" title="Check devices" onclick="checkDevices();">Check devices</button>
    <div id="no-signal">
        <div class="myentry">
            <h2>No signal detected!</h2>
            <p>Make sure to run Android client, and enter in it email you registered on this site and password correctly.</p>
            <p>Also make sure you have internet connection.</p>
        </div>
    </div>
    <div id="signal-detected" style="display:none;">
        <div class="myentry">
            <h2>Signal detected!</h2>
            <p>Looks like everything works.</p>
        </div>
    </div>
}
else
{
    <div class="myentry">
        <h2>Service only for registered users!</h2>
        <p>Please register first (you can use fake email if you prefare), then download the Android client:</p>
    </div>
}

<div>
    <a href="~/Files/webcam0.0.1.apk">WebCamClient - Android (4.3 and higher)</a>
</div>

@section Scripts
{
    <script>
        setInterval(checkDevices, 2000)

        function checkDevices() {
            console.log("Checking devices...")

            if ($.connection.hub && $.connection.hub.state === $.signalR.connectionState.connected) {
                if (generalHub != null)
                    generalHub.server.getConnectedDevice();
            }
        };
    </script>
}

