* {
  box-sizing: border-box; }

article {
  padding: 0px;
}

@supports ((display: -ms-grid) or (display: grid)) {
  .index ul {
    /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 2rem;
    width: auto; }
  .index li {
    width: auto;
    margin: 0; }
  .index h2 {
    min-height: auto; } }

.D {
  margin: 1em; }
  .D h1 {
    margin-top: 0;
    margin-left: 0.75rem; }
  .D main {
    -webkit-columns: 250px;
       -moz-columns: 250px;
            columns: 250px;
    -webkit-column-gap: 6px;
       -moz-column-gap: 6px;
            column-gap: 6px; }
  .D article {
    -webkit-column-break-inside: avoid;
       page-break-inside: avoid;
            break-inside: avoid-column;
    margin-bottom: 1rem; }