* {
  box-sizing: border-box; }

article {
  padding: 0px;
}

.D {
  margin: 1em; }
  .D h1 {
    margin-top: 0;
    margin-left: 0.75rem; }
  .D main {
    -webkit-columns: 250px;
       -moz-columns: 250px;
            columns: 250px;
    -webkit-column-gap: 6px;
       -moz-column-gap: 6px;
            column-gap: 6px; }
  .D article {
    -webkit-column-break-inside: avoid;
       page-break-inside: avoid;
            break-inside: avoid-column;
    margin-bottom: 1rem; }