body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000000;
    background: url('../back.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
    margin-bottom: 60px;
    font-family: Tahoma, Tahoma, serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: Tahoma, Tahoma, serif;
    color: #cccccc;
}

/*Override the default bootstrap behavior*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-custom {
    color: #ee0000;
    background-color: rgba(50, 50, 50, 0.85);
}

.navbar-custom-md2 {
    color: #ee0000;
    background-color: rgba(100, 100, 100, 0.45);
}

.jumbotron {
    background-color: rgba(00, 00, 00, 0.59);
}

.col-md-4 {
    padding: 0px;
}

.grow {
    transition: all .2s ease-in-out;
}

h2 {
    color: lawngreen
}

.myentry {
    margin: 3px;
    padding: 28px;
    border: 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.59);
    border-radius: 10px;
    background-color: rgba(00, 00, 00, 0.59);
    transition: all .2s ease-in-out;
    animation-name: myentryanim;
    animation-duration: 0.9s;
}

.myentry:hover {
    transform: scale(1.04);
    background-color: rgba(00, 00, 00, 0.89);
}

.myblog {
    margin: 3px;
    padding: 28px;
    border: 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.59);
    border-radius: 10px;
    background-color: rgba(00, 00, 00, 0.59);
    animation-name: myentryanim;
    animation-duration: 0.9s;
}

.myblog:hover {
    transform: scale(1.015);
    background-color: rgba(00, 00, 00, 0.91);
}

@keyframes myentryanim {
    from {
        background-color: rgba(00, 00, 00, 0.00);
    }

    to {
        background-color: rgba(00, 00, 00, 0.59);
    }
}

.multiline {
    padding: 20px;
    white-space: pre-wrap;
}

.console {
    border: 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.59);
    background-color: rgba(00, 00, 00, 1);
    color: chartreuse;
    width: 100%;
}
.console-output {
    height: 350px;
    overflow-y: auto;
}


.console-button {
    background-color: rgba(00, 00, 00, 1);
    color: chartreuse;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 580px;
}

/*For my blog input box*/
.long-textbox-blog {
    width: 500px;
    height: 400px;
}
