body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    /*background: url('../back.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
    margin-bottom: 60px;*/
    font-family: Tahoma, Tahoma, serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: Tahoma, Tahoma, serif;
    color: #cccccc;
}

/*Override the default bootstrap behavior*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-custom {
    background-color: rgba(255, 255, 255, 0.85);
}

.navbar-custom-md2 {
    background-color: rgba(255, 255, 255, 0.85);
}

.col-md-4 {
    padding: 0px;
}

h2 {
    color: lawngreen
}

.mybox {
    margin: 0px;
    padding: 0px;
    background-color: rgba(00, 00, 00, 0.59);
}

.myentry {
    margin: 3px;
    padding: 28px;
}

    .myentry:hover {
        transform: scale(1.04);
        color: rgba(100, 100, 100, 1);
    }

.randomsize {
}

.myblog {
    margin: 3px;
    padding: 28px;
    /*background-color: rgba(00, 00, 00, 0.59);*/
}

    .myblog:hover {
        transform: scale(1.015);
        color: rgba(100, 100, 100, 1);
        /*background-color: rgba(00, 00, 00, 1);*/
    }

.multiline {
    padding: 20px;
    white-space: pre-wrap;
}

.console {
    border: 1px;
    border-style: solid;
    border-color: lawngreen;
    background-color: rgba(00, 00, 00, 1);
    color: lawngreen;
    width: 100%;
}

.console-output {
    height: 350px;
    overflow-y: auto;
}

.console-chat-output {
    max-height: 5000px;
    min-height: 300px;
    overflow-y: auto;
}

.console-button {
    background-color: rgba(00, 00, 00, 1);
    color: lawngreen;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 580px;
}

/*For my blog input box*/
.long-textbox-blog {
    width: 500px;
    height: 400px;
}
