@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p class="myentry">I am a .NET programmer. Mainly focusing since few years in gaming (Unity3D engine), but with high intrest in ASP.NET backend and web application developemnt using full Microsoft stack.</p>
