@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>

<div class="D">
    <main>
        <article class="myentry randomsize">
            <h2>In General</h2>
            <p>I am a .NET programmer. Mainly focusing since few years in gaming (Unity3D engine), but with high intrest in ASP.NET backend and frontend web application development using full Microsoft stack.</p>
        </article>
        <article class="myentry randomsize">
            <h2>.NET</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>C#</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>ASP.NET</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>ASP.NET MVC</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Unity</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Unreal Engine</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>js</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>jQuery</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>AJAX</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Razor</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>SQL</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Azure</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>PowerShell</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>bash</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Linux</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>OSX</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Windows NT</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>C++</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Action Script 3</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Flash/Flex</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Mono</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Entity Framework (EF)</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Visual Studio</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>MonoDevelop</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>InteliiJ</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>JSON</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>XML</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>WebGL</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>HTML5</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>CSS</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Git</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>SVN</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Android</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>iOS</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>WebSocket</h2>
            <p>More info about this skill later.</p>
        </article>
        <article class="myentry randomsize">
            <h2>Windows Forms (WinForms)</h2>
            <p>More info about this skill later.</p>
        </article>
    </main>
</div>