@{
    ViewBag.Title = "3D";
}

<div class="myentry">
    It is my hobby for very long time, so I have dozens more renders and most of them are lost somwhere in the net. But you can find much more on my <a href="http://keraj37.cgsociety.org/">CGSociety site</a> including these images with descriptions (most of the models are not mine as I tend to like only rendering. To find out more about models check my CGSocite site).
</div>

<div class="myentry">
    <img src="/Imgs/art/1.jpg" alt="Render" style="max-width:100%; max-height:100%">
</div>
<div class="myentry">
    <img src="/Imgs/art/2.jpg" alt="Render" style="max-width:100%; max-height:100%">
</div>
<div class="myentry">
    <img src="/Imgs/art/3.jpg" alt="Render" style="max-width:100%; max-height:100%">
</div>