@{
    ViewBag.Title = "Contact";
}

<address class="myentry">
    <strong>E-mail:</strong> <a href="mailto:jerry.switalski@gmail.com">jerry.switalski@gmail.com</a><br />
    <strong>Skype:</strong> <a href="skype:anosjun?userinfo">anosjun</a><br />
    <strong>Mobile:</strong> (+49)015 213 460 235<br/>
</address>