@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Zeus' Home Page!</title>
	<link rel="stylesheet" href="~/Imgs/zeus_files/zeus.css" type="text/css">
</head>

<body>
	<div id="mainText">
		<h1><span class="blink"><em>ZEUS' HOME PAGE</em></span></h1>
		<h3>AKA "King of the Gods," AKA "World's Top Thunderbolt Wrangler"</h3>
			<div id="about">
				<h2>ABOUT</h2>
				<ul>
  					<li>Greek God</li>
  					<li>Commander of the <em>SKY</em>
  					</li><li><span class="blink">Total Womanizer</span></li>
  					<li><i>Technically</i> married</li>
  					<li>World's #1 Dad (but like, from a distance)</li>
  					<p></p>
				</ul>
				<h2>THINGS I LIKE</h2>
				<ul>
					<li><span class="blink"><em>Lightning</em></span></li>
					<li>Getting to choose which domain to rule first and choosing the one with the most prestige and least cool shit</li>
					<li>Masculinity (also, frat parties) </li>
					<p></p>
				</ul>
			</div>
		<h2><span class="blink">Gallery and Links</span></h2>
		<table style="width:100%">
  			<tbody><tr>
   				<td>
   					<div class="grow img">
  						<img src="~/Imgs/zeus_files/leda.jfif" alt="Leda and Zeus-Swan" width="375" height="250">
  						<a href="https://quisutdeus.in">LEDA</a>
 				 		<div class="desc">You know you're a little curious.</div>
					</div>
				</td>
    			<td>
    				<div class="grow img">
  						<img src="~/Imgs/zeus_files/olympus.jfif" alt="Olympus" width="375" height="250">
  						<a href="https://quisutdeus.in">FAMILY</a>
  						<div class="desc">All my kids and sweet lady-friends.</div>
					</div>
				</td> 
 			</tr>
  			<tr>
    			<td>
    				<div class="grow img">
  						<img src="~/Imgs/zeus_files/temple1.jfif" alt="Temple of Zeus" width="375" height="250">
  						<a href="https://quisutdeus.in">HOME</a>
		  				<div class="desc">Every bro needs a sick party pad.</div>
					</div>
    			</td>
    			<td>
  					 <div class="grow img">
  						<img src="~/Imgs/zeus_files/titian-europa.jfif" alt="Europa and Zeus-Bull" width="375" height="250">
  						<a href="https://quisutdeus.in">EUROPA</a>
  						<div class="desc">Sometimes you gotta take life by the horns (get it???)</div>
					</div>
    			</td> 
 			</tr>
		</tbody></table>
			


			
	</div>
	

</body></html>