@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title>Batman vs Superman</title>
<link rel="stylesheet" href="~/Imgs/batman_files/ugly.css" type="text/css">
</head>

<body>
<div id="mainText">
	<!-- This is the main text of the website -->
	<h1>Batman Vs. Superman</h1>
	<p><img src="~/Imgs/batman_files/adamchris.jfif" width="620" height="355">Click <a href="http://www.telegraph.co.uk/content/dam/film/Batmanvsuperman/batmanvsuperman-xlarge.jpg">here</a> to see the 2016 Version!!!!.</p>
	<p>Click <a href="https://www.youtube.com/watch?v=VSaDPc1Cs5U">here</a> to see Batman Fighting Crime!</p>
	<p>Click <a href="https://www.youtube.com/watch?v=ycsUvDU-bSI">here</a> to see Superman Highlights!.</p>
	<p>Who Will Win ?!?!?!?!</p>
	<p>Just In!! <span class="blink">Batman Vs. Superman 2016 !!</span> Watch the New Trailer at the bottom of the page! </p>
	<p style="text-indent: 40px">	Christopher Reeve (pictured above) was 
not the first to play the role of Superman, but he is arguably the most 
iconic image of the superhero.  His parents sent him out as a baby into 
the universe as their planet Krypton was imploding.  His vessel landed 
on Earth where he found he had superpowers that others did not have.  
After an awkward start in life he became a reporter for the Daily Planet
 and took on his dual persona of Superman, using his superpowers such as
 being able to fly, x-ray vision and super alien strength to combat 
crime and keep his adopted world safe.</p>
	<p style="text-indent: 40px">	Batman has been played by many actors, 
however for many people over thirty, their first taste of Batman came 
from the T.V. series in which Batman was played by Adam West (pictured 
above).  Batman is human and relies on his fighting skills, intelligence
 and access to many weapons and gadgets to combat crime in his native 
city of Gotham.  Later memorable Batman characters would be portrayed by
 Michael Keaton and Christian Bale.</p>
	<p style="text-indent: 40px">	Now it is 2016 and the epic ‘Batman Vs. 
Superman’ is about to hit theatres.  This time it is Ben Affleck playing
 Batman and Henry Cavill as Superman. LET THE SHOWDOWN BEGIN!!</p>
	<p>Click <a href="https://www.youtube.com/watch?v=dgI2fqUNqPs">here </a> to see The Awesome New Trailer!!!!!!!!!</p>
</div>
<br>
<br>
<br>


</body></html>