@{
    Layout = null;
}

<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title>Cats</title>
<link rel="stylesheet" href="/Imgs/cats/crazycatlady.css" type="text/css"> 

</head>
<body>

	<div class="full_title"> 
		<img class="star" src="/Imgs/cats/a1star.gif">
		<h1 class="title">Space Cats</h1>
		<img class="star" src="/Imgs/cats/a1star.gif">
	</div>

	<ul>
		<li> 
			<a href="/Home/Index">Home is where your cat is</a>
		</li>
		<li> 
			<a href="/Home/Index">About the Space Cat Academy</a>
		</li>
		<li> 
			<a href="/Home/Index">Space Cat Anthem</a>
		</li>
		<li> 
			<a href="/Home/Index">Space Dogs</a>
		</li>
	</ul>

	<div class="content">
		<div class="box">
			<h2><strong> Space Cat Academy is meow accepting applications! </strong></h2>

				<p>Are you the cutest of the cute, a cat that can stand up to the 
tallest dog with a swat of the paw?

				Well, we want you!

				Our latest cat colonizing project is training it's newest recruits 
for a feline utopia in the stars.

				Don't you worry your furry little head - Select humans will 
accompany the team in order to praise and worship the graduates.  Email 
us at spacecatsacademy@gmail.com

				<br>
				<strong class="graduates"> Some of our graduates:</strong>
			<br>
				</p>
				<p></p>
					<img class="spacecats" src="/Imgs/cats/spacecat1.jfif">
					<img class="spacecats" src="/Imgs/cats/spacecat2.jfif">
					<img class="spacecats" src="/Imgs/cats/spacecat3.jfif">
					<img class="spacecats" src="/Imgs/cats/spacecat6.jfif">

	

				
		</div>

	

		<div class="cats">
			<img src="/Imgs/cats/cat_PNG127.png" class="cat">
			<img src="/Imgs/cats/cat_PNG104.png" class="cat">
			<img src="/Imgs/cats/cat_PNG132.png" class="cat">
			<img src="/Imgs/cats/cat_PNG134.png" class="cat">
			<img src="/Imgs/cats/cat_PNG92.png" class="cat">
			<img src="/Imgs/cats/cat_PNG139.png" class="cat">
			<img src="/Imgs/cats/cat_PNG138.png" class="cat">
			<img src="/Imgs/cats/cat_png1.png" class="cat">
			<img src="/Imgs/cats/cat_png2.png" class="cat">
			<img src="/Imgs/cats/cat_PNG5.png" class="cat">
			<img src="/Imgs/cats/cat_PNG6.png" class="cat">
			<img src="/Imgs/cats/cat_PNG8.png" class="cat">
			<img src="/Imgs/cats/cat_PNG9.png" class="cat">
			<img src="/Imgs/cats/cat_PNG10.png" class="cat">
			<img src="/Imgs/cats/cat_PNG104.png" class="cat">
			<img src="/Imgs/cats/cat_PNG138.png" class="cat">
		</div>
		
	</div>

	<footer class="footer">
			<marquee> Cat Space Camp Academy™ is real... But please do not send 
your cats into space by any means.  Please do photoshop them as if they 
were in space, on the way to distant planets, conquering planets of dogs
 light years away or any such variant that your cat person imagination 
can come up with.  quisutdeus.in is not responsible for anyone not being
 able to understand that this site is a joke.  Please, please, please do
 not send your cats to space or throw them up into the sky trying to 
launch them like a mini, meowing rocket.
			</marquee>
		</footer>




</body></html>