@{
    ViewBag.Title = "Jerry Switalski";
}

<div class="jumbotron">
    <h1><span style="color:#00ff90">J</span>erry <span style="color:#00ff90">S</span>witalski - Personal Website</h1>
    <p class="lead">Here you can find my projects, blog and many more as I will be updating this site on regular basis.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="myentry">
            <h2>Source code</h2>
            <p>
                If you are intrested, you can find source code of this entire site here: <a href="https://github.com/keraj37/my_website" target="_blank">github</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="myentry myentry-md2">
            <h2>Blog</h2>
            <p>@Html.ActionLink("Here", "Index", "Blog", new { page = 1 }, null) you can find my blog. I will be adding new entries there from time to time.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="myentry myentry-md3">
            <h2>3D</h2>
            <p>@Html.ActionLink("Here", "3D") you can find some of my 3D renders.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="myentry myentry-md4">
            <h2>More to come!</h2>
            <p>
                This site is going to be my hub for learning and doing some technical experiments.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="myentry myentry-md5">
            <h2>Site Under Construction</h2>
            <p>Site Under Construction</p>
        </div>
    </div>
</div>
