@{
    ViewBag.Title = "Jerry Switalski";
}

<div class="jumbotron">
    <h1>Jerry Switalski - Personal Website</h1>
    <p class="lead">Site Under Construction</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Site Under Construction</h2>
        <p>
            Site Under Construction
        </p>
    </div>
    <div class="col-md-4">
        <h2>Site Under Construction</h2>
        <p>Site Under Construction</p>
    </div>
    <div class="col-md-4">
        <h2>Site Under Construction</h2>
        <p>Site Under Construction</p>
    </div>
</div>